body {
    box-sizing: border-box;
    font-family: 'Press Start 2P', cursive;
    background-color: #282828;
}

.content {
    margin: auto;
    width: 800px;
    color: #FFFFFF;
}

h1 {
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    font-size: 2rem;
}

.message-container {
    text-align: center;
    padding-top: 10px;
    height: 100px;
}

.computer-chose {
     color: grey;
}

.options-container {
    background-color: #393939;
    padding-top: 30px;
    padding-bottom: 20px;
    margin-top: 10px;
    border-radius: 5px;
    width: 680px;
}

.main-box {
    display: flex;
    justify-content: center;
}

.option-btns {
    display: flex;
    justify-content: space-evenly;
}

.button {
    height: 80px;
    width: 150px;
    font-family: 'Press Start 2P', cursive;
    background-color: #585858;
    border-radius: 5px;
    color: #FFFFFF;
}

.scores-container {
    display: flex;
    justify-content: space-evenly;
    padding-top: 40px;
    padding-bottom: 35px;
}

.player-box, .computer-box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 300px;
    background-color: #363636;
    border-radius: 5px;
}

.play-btn-container {
    display: flex;
    justify-content: center;
}

.play-again-btn {
    height: 50px;
    width: 200px;
    border-radius: 5px;
    background-color: #585858;
    color: #FFFFFF;
    font-size: 0.7rem;
    font-family: 'Press Start 2P', cursive;
}

.img-container {
    display: flex;
    justify-content: space-around;
    padding-left: 25px;
    padding-right: 25px;
    align-items: center;
}

.img {
    padding-top: 20px;
    height: auto;
    width: 70px;
}

