body {
    box-sizing: border-box;
    font-family: 'Press Start 2P', cursive;
    margin: auto;
    width: 50%;
}


.message-container {
    border: 1px solid red;
    height: 300x;
    width: 500px;
}